#tree {
  background-color: #ededed;
}

html, body {
  margin: 0px;
  width: 100%;
  height: 100%;
}

.get-org-chart .get-text {
  font-size: 25px;
}

.get-org-chart .get-text .get-text-0 {
  font-size: 20px;
}

.btn {
  cursor: pointer;
}

.btn rect {
  fill: #F8F8F8;
  stroke: #D9D9D9;
}

#tree {
  width: 100%;
  height: 100%;
  min-height: 1200px;
}

/*@media screen and (max-width: 1200px) {*/
  /*.content {*/
    /*width: 100%;*/
    /*height: 100%;*/
  /*}*/


/*}*/
